.Rproj.user
.Rhistory
.RData
.Ruserdata
analysis_output/stan/*.rds
analysis_output/stan/*.Rdata
output/stan/*.rds
output/stan/*.Rdata
old/
.DS_Store
*renv/
*.dat

**/**/survival-stan/
**/**/code/exploration
**/**/code/misc
**/**/code/simulations
!**/**/code/simulations/simulated-mr-power.R
**/**/code/survival
**/**/data/raw/mortality_counts/
**/**/data/raw/IHME_GLOBAL_DIARRHEA_2000_2019_PREV_A1_S3_ADMIN_1_Y2020M08D31.CSV
**/**/idhs_00001.*
**/**/data/raw/weighted_mr/